[Unit]
Description=Runs the Live Camera Feed for /dev/video0
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Camera
ExecStart=
Restart=always

[Install]
WantedBy=multi-user.target
