[Unit]
Description=Runs the Live Camera Feed for /dev/video0
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/
ExecStart=bash /home/pi/MercuryRobotics2026VideoFeed/Server/camerasBoot.sh
Restart=on-fail

[Install]
WantedBy=multi-user.target
